name: build

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - run: dotnet build -c Release

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/AccurateTimeBonus_${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
